<table class="table" *ngIf="itemCart.length > 0">
    <thead>
        <!-- Table Header -->
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Sales Tax</th>
            <th>SubTotal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemCart; let i = index">
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <input [(ngModel)]="purchaseQty" type="number" class="form-control" [max]="item.quantity">
            <!-- Add input qty box here -->
            <td>{{item.price | currency}}</td>
            <!-- Add the Sales Tax total -->
            <td>{{item.quantity * item.price | currency }}</td>
            <td><button class="btn btn-outline-danger float-right" (click)="onRemoveItemCart(index)">Delete</button></td>
        </tr>
    </tbody>
</table>
<!-- Add Total of purchase here -->
<button *ngIf="itemCart.length > 0" (click)="onPurchaseItems()">Purchase</button>
<h5 *ngIf="itemCart.length == 0">{{text}}</h5>
