<div class="card border-dark" style="width: 16rem;">
        <img class="card-img-top" [src]="item?.imgUrl" alt="Card Image Cap" height="auto">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.category}}: {{item.price | currency}}</p>
            <input [(ngModel)]="item.quantity" placeholder="Qty">
            <!-- Add buttons and qty -->            
            <div *ngFor="let item of items; let i = index">
                <input [(ngModel)]="item.quantity" *ngIf="editingQty[i]" class="form-control" type="number" placeholder = "Qty" [max]="item.quantity">           
            </div>
            <!-- <button *ngIf="!editingQty[i]" (click)="onStartEdit(i)" class="btn btn-warning">Edit Qty</button>
            <button *ngIf="editingQty[i]" (click)="onSaveEdit(i)" class="btn btn-success">Save</button> -->
        
            <button class="btn btn-success float-sm-right mt-2" type="button" [class.disabled]="purchaseQty > item.quantity" (click)="onAddCart(item)">{{buttonTitle}}</button>
        
        </div>
    </div>
